config SHIELD_CORNE_DONGLE
	def_bool $(shields_list_contains,corne_dongle)

config SHIELD_PANDAKB_LEFT
	def_bool $(shields_list_contains,pandakb_left)

config SHIELD_PANDAKB_RIGHT
	def_bool $(shields_list_contains,pandakb_right)
